@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto";
   /* box-sizing: border-box;
    border: 1px solid black;*/
}

/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch
 */

/* npx tailwindcss -i ./style.css -o ./dist/style.css --watch
    */


/* npx tailwindcss -i ./public/assets/css/style.css -o ./public/assets/css/dist/style.css --watch */

.registed:hover .downdrop{
    display: flex;

}

main
{
    margin-left: 40px;
    margin-right: 40px;
}




