@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Source', 'Times New Roman', Times, serif;
   /* box-sizing: border-box;
    border: 1px solid black; */
}

@font-face {
    font-family: 'Source';
    src: url(/assets/fonts/Source/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: 'Source';
    font-weight: bold;
    src: url(/assets/fonts/Source/SourceSerifPro-Bold.ttf);
}



/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch
 */

/* npx tailwindcss -i ./style.css -o ./dist/style.css --watch
    */


/* npx tailwindcss -i ./public/assets/css/style.css -o ./public/assets/css/dist/style.css --watch */

.registed:hover .downdrop{
    display: flex;

}

main
{
    margin-left: 40px;
    margin-right: 40px;
}

<<<<<<< HEAD
.view
{
    background: rgb(150,132,244);background: linear-gradient(90deg, rgba(150,132,244,1) 0%, rgba(134,170,244,1) 31%, rgba(163,227,227,1) 100%);
}


=======
.logoCenter{
    background-image: none;
    display: inline-block;
}

p{
    text-align: center;
    background-color: black;
}
>>>>>>> 4235b71f89d81b46b0e0d7624a8cd64dd5d6a9a6



